<div class="footer">
    <table class="tbfooter">
        <tr>
            <td class="tdthongtinlh">
                <div class="tbthongtinlh">
                    <table>
                        <tr>
                            <td class="tdlghinh2">
                                <div class="lghinh2">
                                    <img src="~/image/LOGO HÌNH.png" class="imglogohinh2">
                                </div>
                            </td>
                            <td class="tdhrefsaukiumg">
                                <div class="hreffooter">
                                    <a href="" class="hrefsaukiumg">
                                        SâuKiu<br /> Manga
                                    </a><br />
                                    <a href="" class="hrefsachtruyenonl">
                                        SHOP TRUYỆN TRANH <br />ONLINE
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdphone">
                                <div class="phone">
                                    <img src="~/image/phone.png" class="imgphone" alt="icon phone">
                                </div>
                            </td>
                            <td class="tdlienhe">
                                <a href="tel:(+84) 0908531253" class="lienhe">
                                    Hotline: 0908531253
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdemail">
                                <div class="email">
                                    <img src="~/image/email.png" class="imgemail">
                                </div>
                            </td>
                            <td class="tdcontact">
                                <a href="mailto:saukiumanga@gmail.com" class="contact">
                                    Email: saukiumanga@gmail.com
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="tdtablechinhsach">
                <div class="tbchinhsach">
                    <table>
                        <tr>
                            <td class="tdchinhsach">
                                <a href="" class="hrefchinhsach">
                                    CHÍNH SÁCH
                                </a>
                            </td>
                            <td class="none"></td>
                        </tr>
                        <tr>
                            <td class="tdcsbm">
                                <a href="" class="hrefchinhsachbaomat">
                                    Chính sách bảo mật
                                </a>
                            </td>
                            <td class="tdcsvc">
                                <a href="" class="hrefchinhsachvanchuyen">
                                    Chính sách vận chuyển
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdcstt">
                                <a href="" class="hrefchinhsachthanhtoan">
                                    Chính sách thanh toán
                                </a>
                            </td>
                            <td class="tdcsdt">
                                <a href="" class="hrefchinhsachdoitra">
                                    Chính sách đổi trả
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
