@using MangaStore.ViewModels;
@model ProductViewModel

@{
	Layout= "~/Views/Shared/Admin.cshtml";
    ViewData["Title"] = "Create";
	var TheLoai = ViewData["TheLoai"] as Dictionary<string, int>;
}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Thêm sản phẩm</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="index.php">Home</a></li>
					<li class="breadcrumb-item active">Thêm sản phẩm</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<div class="container-fluid">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
<!-- left column -->
        <div class="col-md-12 ">
    <!-- general form elements -->
            <div class="card card-primary">
                <form asp-controller="Product" asp-action="Create" method="post">
                <div class="row">

                                <div class="col-md-6">
                                    <div class="card-body">

                                        <div class="form-group">
                                            <label for="name">Tên truyện</label>
                                            <input type="text" class="form-control" id="name" placeholder="" asp-for="name">
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Mô tả</label>
                                            <textarea rows="5" cols="70" class="form-control" id="description" placeholder="" asp-for="description"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="author">Tác giả</label>
                                                    <input type="text" class="form-control" id="author" placeholder="" asp-for="author">
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="publish_year">Năm xuất bản</label>
                                                    <input type="number" class="form-control" id="publish_year" placeholder="" asp-for="publish_year">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="price">Giá niêm yết</label>
                                                    <input type="number" class="form-control" id="list_price" placeholder="" asp-for="list_price">
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="discount_rate">Chiết khấu</label>
                                                    <input type="number" class="form-control" id="discount_rate" placeholder="" asp-for="discount_rate" value="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label for="quantity">Số lượng</label>
                                                    <input type="int" class="form-control" id="quantity" placeholder="" asp-for="quantity">
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="size">Kích cỡ</label>
                                                    <input type="text" class="form-control" id="size" placeholder="" asp-for="size">
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label for="category">Thể loại</label>
                                                    <select id="category" asp-for="category" class="form-control custom-select">
                                                        <option value="" selected>Chọn thể loại</option>
                                                        @*@foreach($arrProductCategory as $key => $value)
                                                            <option value="{{$value}}">{{$key}}</option>
                                                        @endforeach*@
                                                        @if (TheLoai is not null)
                                                        {
                                                        	foreach (var item in TheLoai)
                                                        	{
                                                        		<option value="@item.Value">@item.Key</option>
                                                        	}
                                                        }
                                                    </select>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="collection">Bộ truyện</label>
                                            <input type="text" class="form-control" id="collection" placeholder="" asp-for="collection">
                                        </div>
                                        <div class="form-group">
                                            <label for="image">Link ảnh sản phẩm</label>
                                            <input type="text" class="form-control" id="collection" placeholder="" asp-for="image">
                                        </div>
                                    </div>

                                </div>

                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                    <a asp-controller="Product" asp-action="Index" type="cancel" class="btn btn-danger ">Hủy bỏ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        <!-- /.card-header -->
                        <!-- form start -->


@*
<h1>Thêm sản phẩm</h1>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="name" ></label>
    <input asp-for="name"  />
    <br />
    
    <label asp-for="image" ></label>
    <input asp-for="image"  />
    <br/>
    <label asp-for="author" ></label>
    <input asp-for="author" />
	<br />
    <label asp-for="description"></label>
	<textarea asp-for="description" ></textarea>
	<br />
    <label asp-for="list_price" ></label>
    <input asp-for="list_price" />
	<br />
    <label asp-for="discount_rate"></label>
    <input asp-for="discount_rate" value=10/>
	<br />
    <label asp-for="quantity" ></label>
    <input asp-for="quantity"  />
	<br />
    <label asp-for="publish_year" ></label>
    <input asp-for="publish_year" />
	<br />
    <label asp-for="size" ></label>
    <input asp-for="size" />
	<br />
    <label asp-for="collection" ></label>
    <input asp-for="collection"/>
	<br />
	<label asp-for="category" ></label>
    <select asp-for="category" >
		<option value="">Chọn thể loại</option>
		@if (TheLoai is not null)
		{
			foreach (var item in TheLoai)
			{
				<option value="@item.Value">@item.Key</option>
			}
		}
	</select>
	<br />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@

