@using MangaStore.ViewModels;
@model ProductViewModel

@{
    ViewData["Title"] = "Create";
	var TheLoai = ViewData["TheLoai"] as Dictionary<string, int>;
}

<h1>Thêm sản phẩm</h1>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="name" ></label>
    <input asp-for="name"  />
    <br />
    
    <label asp-for="image" ></label>
    <input asp-for="image"  />
    <br/>
    <label asp-for="author" ></label>
    <input asp-for="author" />
	<br />
    <label asp-for="description"></label>
	<textarea asp-for="description" /></textarea>
	<br />
    <label asp-for="list_price" ></label>
    <input asp-for="list_price" />
	<br />
    <label asp-for="discount_rate"></label>
    <input asp-for="discount_rate" value=10/>
	<br />
    <label asp-for="quantity" ></label>
    <input asp-for="quantity"  />
	<br />
    <label asp-for="publish_year" ></label>
    <input asp-for="publish_year" />
	<br />
    <label asp-for="size" ></label>
    <input asp-for="size" />
	<br />
    <label asp-for="collection" ></label>
    <input asp-for="collection"/>
	<br />
	<label asp-for="category" ></label>
    <select asp-for="category" >
		<option value="">Chọn thể loại</option>
		@if (TheLoai is not null)
		{
			foreach (var item in TheLoai)
			{
				<option value="@item.Value">@item.Key</option>
			}
		}
	</select>
	<br />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

